{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block content %}
<div style="margin: 80px">
    <h1 style="text-align: center;">Contact Us</h1>
    <hr>
    <h4>Contact us directly if you have any queries. We will get in touch with you shortly.</h4>
    <hr>
    <br>
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>
                    <label for="id_name">Name:</label>
                </th>
                <td>
                    <input type="text" id="id_name" name="name" required>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_email">E-mail:</label>
                </th>
                <td>
                    <input type="email" id="id_email" name="email" required>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_phone">Phone:</label>
                </th>
                <td>
                    <input type="tel" id="id_phone" name="phone" pattern="[0-9]{10}">
                </td>
            </tr>
            <tr>
                <th>
                    Contact me by:
                </th>
                <td>
                    <label for="id_contact_email">E-Mail</label>
                    <input type="radio" id="id_contact_email" name="contact" value="email">

                    <label for="id_contact_phone">Phone</label>
                    <input type="radio" id="id_contact_phone" name="contact" value="phone">
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_queries">How can we help you?:</label>
                </th>
                <td>
                    <select name="queries" id="id_queries">
                        <option value="general_inquiry">General Inquiry</option>
                        <option value="order">Order</option>
                        <option value="delivery_and_availability">Delivery and Availability</option>
                        <option value="feedback_and_suggestions">Feedback and Suggesstions</option>
                        <option value="other">Others</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_message">Message:</label>
                </th>
                <td>
                    <textarea id="id_message" name="message" rows="10" cols="40" maxlength="3000" required></textarea>
                </td>
            </tr>
        </table>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}
