{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Contact Us</h2>
                <h5 class="text-muted">Contact us directly if you have any queries. We will get in touch with you shortly.</h5>
                <hr>
            </div>
        </div>
    
        <div class="row">
        <div class="col-12 col-md-6">
            <form method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="id_name" class="col-sm-2 col-form-label">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="id_name" name="name" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_email" class="col-sm-2 col-form-label">E-mail:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="id_email" name="email" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_phone" class="col-sm-2 col-form-label">Phone:</label>
                    <div class="col-sm-10">
                        <input type="tel" class="form-control" id="id_phone" name="phone" pattern="[0-9]{10}">
                    </div>
                </div>
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0">Contact me by:</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="id_contact_email" name="contact" value="email">
                                <label class="form-check-label" for="id_contact_email">E-Mail</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="id_contact_phone" name="contact" value="phone">
                                <label class="form-check-label" for="id_contact_phone">Phone</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group row">
                    <label for="id_queries" class="col-sm-2 col-form-label">How can we help you?</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="queries" id="id_queries">
                            <option value="" disabled selected>Select an option</option>
                            <option value="general_inquiry">General Inquiry</option>
                            <option value="order">Order</option>
                            <option value="delivery_and_availability">Delivery and Availability</option>
                            <option value="feedback_and_suggestions">Feedback and Suggestions</option>
                            <option value="other">Others</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_message" class="col-sm-2 col-form-label">Message:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="id_message" name="message" rows="10" maxlength="3000" required></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10 offset-sm-2">
                        <button class="btn btn-black rounded-0 text-uppercase float-right">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>

{% endblock %}