{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Your message was sent.</h2>
                <p>We will try get back to you as soon as possible. You can send another in the <a class="text-custom" href="{% url 'contact' %}">Contact Page</a></p>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}