<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="seasonal-flowers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Seasonal Flowers 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="seasonal-flowers-link">
                <a href="{% url 'products' %}?category=hand_tie" class="dropdown-item">Hand Tie</a>
                <a href="{% url 'products' %}?category=traditional_bouquet" class="dropdown-item">Traditional Bouquet</a>
                <a href="{% url 'products' %}?category=baskets" class="dropdown-item">Baskets</a>
                <a href="{% url 'products' %}?category=plants" class="dropdown-item">Plants</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="gifts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gifts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gifts-link">
                <a href="{% url 'products' %}?category=chocolates" class="dropdown-item">Chocolates</a>
                <a href="{% url 'products' %}?category=soft_toys" class="dropdown-item">Soft Toys</a>
                <a href="{% url 'products' %}?category=ballons" class="dropdown-item">Ballons</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="funerals-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Funerals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="funerals-link">
                <a href="{% url 'products' %}?category=floral_wreaths" class="dropdown-item">Floral Wreaths</a>
                <a href="{% url 'products' %}?category=floral_spray" class="dropdown-item">Floral Spray</a>
                <a href="{% url 'products' %}?category=casket_spray" class="dropdown-item">Casket Spray</a>
                <a href="{% url 'products' %}?category=special_design" class="dropdown-item">Special Designs</a>
            </div>
        </li>

        </li>
        <li class="nav-item">

            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'faq_list' %}">FAQ</a>
        
        </li>
    </ul>
</div>